@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d89595;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


.login-signup {
    font-weight: bold;
}

.site-introduction {
    background-image: linear-gradient(to bottom, rgba(109, 81, 81, 0.4), rgba(0, 0, 0, 0.8)), url('https://wallpaperaccess.com/full/2096366.jpg');
    height: 92%;
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
}

.site-introduction h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.site-introduction p {
    font-size: 18px;
    color: #777;
}


.sections {
    position: absolute; 
    top: 40vh;
    left: 0; 
    right: 0; 
    z-index: 1;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 8%;
}

.movies-section,
.games-section {
    display: flex;
    padding: 70px;
    height: 300px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: #b64e4e;
    border-radius: 10px;
    margin: 0 10px;
}

.movies-section a,
.games-section a {
    text-decoration: none;
    color: #28e138;
    font-weight: bold;
    font-size: 2.5rem;
}

.games-section{
    background-image: url('https://wallpaperaccess.com/full/284976.jpg');
    background-size: cover;
}

.movies-section{
    background-image: url('https://wallpaperaccess.com/full/37993.jpg');
    background-size: cover;

}

.logo {
    height: 70px;
    width: 150px;
    margin: 0px;
}

.login-signup {
    margin-right: 15px;
    background-color: #dfd6d6;
    padding: 12px;
    display: flex;
    border-radius: 20px;
}

.login-signup img {
    height: 30px;
    width: 30px;
    margin-right: 6px;
    margin-top: -2px;
}

  button {
    margin: 20px;
  }
  .custom-btn {
    width: 160px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 11 */
.btn-11 {
    border: none;
    background: rgb(251,33,117);
      background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
      color: #fff;
      overflow: hidden;
    padding-left: 15px;
    padding-top: 13px;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 40px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }

  .login-img {
    height: 30px;
    width: 30px;margin-right: 6px;
    margin-top: -2px;
}
p{
    margin-right: 15px;
}

/* @media screen and (max-width: 768px) {
    .landing{
        height: 150vh;
    }
    
    .site-introduction {
        padding: 20px;
    }

    .site-introduction h1 {
        font-size: 24px;
    }

    .site-introduction p {
        font-size: 16px;
    }

    .sections {
        flex-direction: column;
        top: 50vh;
    }

    .movies-section,
    .games-section {
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 0;
    }
} */