/* MovieDetails.css */
.movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ce5454c4;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  


  .movie-details-inner {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .movie-poster img {
    border-radius: 10px;
    max-width: 300px;
    margin-right: 20px;
  }
  

  
  .movie-details strong {
    color: #00ff00;
  }
  